<%= form_for @widget, :html => { :class => "form" } do |f| %>

  <div class="row-fluid">
    <div class="span6">
      <%= f.error_messages %>

      <fieldset>
        <legend>Widget Info</legend>
        <div class="control-group">
          <%= f.label :name, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :name, :class => "span12" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :script, :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :script, :class => "span12", :rows => 5 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :text, :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :text, :class => "span12", :rows => 5 %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :minutes_ago, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :minutes_ago %>
          </div>
        </div>
      </fieldset>

      <%= f.submit :class => "btn btn-primary" %>
    </div>

    <% if !@widget.script.blank? %>
      <div class="span6">
        <fieldset>
          <legend>Graph</legend>
          <%= image_tag @widget.image_execute %>
        </fieldset>
      </div>
    <% end %>
  </div>
<% end %>
