<% title "Widget" %>

<p>
  <strong>Name:</strong>
  <%= @widget.name %>
</p>
<p>
  <strong>Script:</strong>
  <%= @widget.script %>
</p>

<% if !@widget.script.blank? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @widget.image_url %>
  </p>
<% end %>

<p>
  <%= link_to "Edit", edit_widget_path(@widget) %> |
  <%= link_to "Destroy", @widget, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", widgets_path %>
</p>
