<% title "New Dashboard" %>

<%= form_for @dashboard, :html => { :class => "form" } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "span6" %>
    </div>
  </div>
  <p><%= f.submit :class => "btn btn-primary" %></p>
<% end %>


<p><%= link_to "Back to List", dashboards_path %></p>
