<% title "Dashboards / #{@dashboard.name}" %>

<p>
  <%= link_to "View All", dashboards_path %>
</p>

<%= form_for @dashboard, :html => { :class => "form-inline" } do |f| %>
  <fieldset>
    <legend>Edit Dashboard</legend>
    <%= f.label :name %>
    <%= f.text_field :name %>
    &nbsp;&nbsp;
    <%= f.label :minutes_ago %>
    <%= f.text_field :minutes_ago %>
    <%= f.submit "Update", :class => "btn btn-primary" %>
  </fieldset>
<% end %>

<%= form_for DashboardLattice.new(:dashboard => @dashboard), :html => { :class => "form-inline" } do |f| %>
  <fieldset>
    <legend>Add Widget</legend>
    <%= f.hidden_field :dashboard_id %>
    <%= f.select( :widget_id, Widget.all.map { |e| [ e.name, e.id ] } ) %>
    <%= f.submit "Add Widget", :class => "btn btn-primary" %>
  </fieldset>
<% end %>

<div class="row-fluid">
  <ul class="thumbnails">
    <% @dashboard.dashboard_lattices.each do |dashboard_lattice| %>
      <%= puts "XXX: dashboard_lattice: #{dashboard_lattice.inspect}" %>
      <li class="span4">
        <div class="thumbnail">
          <% if !dashboard_lattice.widget.script.blank? && !dashboard_lattice.widget.script_parsing_errors %>
            <%= image_tag dashboard_lattice.widget.image_execute(@dashboard.minutes_ago) %>
          <% end %>
          <div class="caption">
            <h3><%= dashboard_lattice.widget.name %></h3>
            <p><%= dashboard_lattice.widget.text %></p>
            <p>
              <%= link_to "Edit", edit_widget_path(dashboard_lattice.widget), :class => "btn" %>
              <%= link_to "Remove", dashboard_lattice, :class => "btn btn-danger", :method => :delete %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

